@using Chat.Common.DTOs;

<div class="d-flex justify-content-between align-items-center chat-contact-status mb-3" id="contact-info">
    <div class="d-flex">
        <div class="p-2">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp" alt="avatar"
                width="40">
        </div>
        <div class="d-flex flex-column justify-content-center align-items-start">
            <div>
                <span class="contact-status-name">@CurrentContact?.FirstName @CurrentContact?.LastName</span>
                <span class="contact-status-username text-secondary">@@ @CurrentContact?.Username</span>
            </div>
            @if (IsOnline)
            {
                <span class="badge text-bg-success contact-status">Online</span>
            }
            else
            {
                <span class="badge text-bg-secondary">Offline</span>
            }
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
</div>

@code {

    [Parameter]
    public UserDTO? CurrentContact { get; set; }

    public bool IsOnline { get; set; } = true;

}