<div class="col-md-6 col-lg-5 col-xl-4 chat-left">
        <ContactSearchBar />
        <div class="border rounded chat-contact-list">
            <ul class="list-unstyled mb-0">
                <Contact OnClickCallback="OnClickCallback" ContactName="A" />
                <Contact OnClickCallback="OnClickCallback" ContactName="B" />
                <Contact OnClickCallback="OnClickCallback" />
                <Contact OnClickCallback="OnClickCallback" />
                <Contact OnClickCallback="OnClickCallback" />
                <Contact OnClickCallback="OnClickCallback" />
                <Contact />
                <Contact />
                <Contact />
                <Contact />
            </ul>
        </div>
</div>

@code {
    [Parameter]
    public EventCallback<string> OnClickCallback { get; set; }
}