@using Chat.Common.DTOs
@inject IJSRuntime JS;
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="https://adminlte.io/themes/v3/dist/img/AdminLTELogo.png" alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Chat</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="@CurrentUser.AvatarUrl" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">@CurrentUser.Name</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <FriendList AddUserContactCallback="AddUserContactCallback"
                    SetUserContactCallback="SetUserContactCallback" UserChats="UserChats" />

                <GroupList SetGroupContactCallback="SetGroupContactCallback"
                    AddGroupContactCallback="AddGroupContactCallback" GroupChats="GroupChats" />
            </ul>
        </nav>
    </div>
</aside>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("InitTreeView");
        }
    }

    [CascadingParameter]
    public UserDTO CurrentUser { get; set; } = new();

    [Parameter]
    public EventCallback<string> OnClickContactCallback { get; set; }

    [Parameter]
    public EventCallback<(string, UserDTO)> AddUserContactCallback { get; set; }

    [Parameter]
    public EventCallback<string> SetUserContactCallback { get; set; }

    [Parameter]
    public EventCallback<(int, GroupDTO)> AddGroupContactCallback { get; set; }

    [Parameter]
    public EventCallback<int> SetGroupContactCallback { get; set; }

    [Parameter]
    public Dictionary<string, (UserDTO, List<UserMessageDTO>)> UserChats { get; set; } = new();

    [Parameter]
    public Dictionary<int, (GroupDTO, List<GroupMessageDTO>)> GroupChats { get; set; } = new();

}