@using Chat.Common.DTOs;

<div class="d-flex chat-contact-status">
    <div class="m-1">
        <img src=@CurrentContact?.AvararUrl alt="avatar" class="contact-status-avatar">
    </div>
    <div class="d-flex flex-column align-items-start">
        <div>
            <span class="contact-status-name">@CurrentContact?.Name</span>
            <span class="contact-status-username text-secondary">@@ @CurrentContact?.Username</span>
        </div>

        @if (IsOnline)
        {
            <span class="badge text-bg-success contact-status">Online</span>
        }
        else
        {
            <span class="badge text-bg-secondary">Offline</span>
        }
    </div>
    <div class="dropdown action-menu">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>


</div>

@code {

    [Parameter]
    public UserDTO? CurrentContact { get; set; }

    public bool IsOnline { get; set; } = true;

}