<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search" />
    <div class="input-group-append">
        <button class="btn" type="bu">
            <i class="fas fa-search"></i>
        </button>
    </div>
</div>

