@using Chat.Common.DTOs;


<li class="list-group-item" @onclick="OnClick">
    <a class="d-flex justify-content-between text-decoration-none">
        <div class="d-flex flex-row">
            <div>
                <img src=@User.AvararUrl alt="avatar" class="d-flex align-self-center me-3 contact-list-avatar">
            </div>
            <div class="pt-1">
                <p class="fw-bold mb-0">@User.Name</p>
                <p class="small text-muted last-message text-truncate"> @LastMessage?.Content</p>
            </div>
        </div>
        <div class="pt-1">
            <p class="small text-muted mb-1">
                Now
            </p>
            @if (UnreadMessageCounts > 0)
            {
                <span class="badge bg-danger rounded-pill float-end">@UnreadMessageCounts</span>
            }
        </div>
    </a>
</li>


@code {
    [Parameter]
    public UserDTO User { get; set; } = new();

    [Parameter]
    public MessageDTO? LastMessage { get; set; }

    public int UnreadMessageCounts { get; set; } = 1;

    [Parameter]
    public EventCallback<string> OnClickCallback { get; set; }


    private void OnClick()
    {
        OnClickCallback.InvokeAsync(User.Username);
    }
}