<div class="modal fade" id="join-group-modal" tabindex="-1" aria-labelledby="join-group-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="join-group-modal-label">Join group</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Group name</label>
                        <input type="text" class="form-control" id="input-group-name" aria-describedby="group-name-help"
                            required>
                        <span id="group-name-help" class="form-text">Group name must be between 4 and 20 characters
                            long.</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Join</button>
            </div>
        </div>
    </div>
</div>

