@using Chat.Common.DTOs;

<li class="d-flex flex-row justify-content-start bg-gradient p-1">
    <img src=@Message_.Sender.AvararUrl alt="avatar" class="message-avatar mt-1">
    <div class="container">
        @{
            var messageClass = "d-table rounded-3 p-2 mb-0 message-content " + (Message_.Sender.Username ==
            CurrentUser.Username ? "bg-info text-white" : "bg-light");
        }
        <p class="@messageClass">
            @Message_.Content</p>
        <p class="small text-muted">@@ @Message_.Sender.Username @Message_.Time</p>
    </div>
</li>

@code {
    [CascadingParameter]
    public UserDTO CurrentUser { get; set; } = new();

    [Parameter]
    public MessageDTO Message_ { get; set; } = new();


}