@using Chat.Common.DTOs;


<li class="list-group-item">
    <a class="d-flex justify-content-between text-decoration-none" @onclick="OnClick" href="#">
        <div class="d-flex flex-row">
            <div>
                <img src=@Contact_.AvatarUrl alt="avatar"
                    class="d-flex align-self-center me-3 contact-list-avatar rounded-circle" width="60">
            </div>
            <div class="pt-1">
                <p class="fw-bold mb-0">@Contact_.Name</p>
                <p class="small text-muted text-truncate"> @LastMessage?.Content</p>
            </div>
        </div>
        <div class="pt-1">
            <p class="small text-muted mb-1">
                Now
            </p>
            @if (UnreadMessageCounts > 0)
            {
                <span class="badge bg-danger rounded-pill float-end">@UnreadMessageCounts</span>
            }
        </div>
    </a>
</li>


@code {

    [Parameter]
    public UserDTO Contact_ { get; set; } = new();

    [Parameter]
    public MessageDTO? LastMessage { get; set; }

    public int UnreadMessageCounts { get; set; } = 1;

    [Parameter]
    public EventCallback<string> SetUserContactCallback { get; set; }


    private void OnClick()
    {
        SetUserContactCallback.InvokeAsync(Contact_.Username);
    }
}