@using Chat.Common.DTOs;
@using Chat.WebClient.Components;
@using Chat.WebClient.Services;
@using Microsoft.AspNetCore.SignalR.Client;
@using System.Collections.Generic;
@inject IHttpService HttpService;

<ul class="list-group list-group-flush">
    @if (_isLoading)
    {
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>

    }
    else if (_errorMessage != null)
    {
        <div class="alert alert-danger" role="alert">
            _errorMessage
        </div>
    }
    else
    {
        @foreach (var (_, v) in UserChats)
        {
            var contact = v.Item1;
            var messages = v.Item2;
            var lastMessage = messages.Count > 0 ? messages.Last() : null;
            if (contact.Username == CurrentUser.Username)
            {
                continue;
            }
            <UserContact Contact_=@contact SetUserContactCallback=@SetUserContactCallback LastMessage=@lastMessage />

        }
    }
</ul>

@code {
    [CascadingParameter]
    public UserDTO CurrentUser { get; set; } = new();

    [Parameter]
    public EventCallback<string> SetUserContactCallback { get; set; }

    [Parameter]
    public EventCallback<(string, UserDTO)> AddUserContactCallback { get; set; }

    [Parameter]
    public Dictionary<string, (UserDTO, List<UserMessageDTO>)> UserChats { get; set; } = new();

    private bool _isLoading = true;
    private string? _errorMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _isLoading = true;
            var userContacts = await HttpService.GetAllUserContacts();
            foreach (var userContact in userContacts)
            {
                await AddUserContactCallback.InvokeAsync((userContact.Username, userContact));
            }
        }
        catch (Exception e)
        {
            _errorMessage = e.Message;
            throw;
        }
        finally
        {
            _isLoading = false;
        }
    }
}