@using Chat.Areas.WebPage.Models;
@model LoginViewModel;
@{
    ViewData["Title"] = "Login";
}

@section Header {
    @await Html.PartialAsync("_HeaderPartial.cshtml", new HeaderViewModel() { CurrentUser = Model.CurrentUser })
}

<div class="content-wrapper login-page">


    <div class="content">
        <div class="container">
            @if (Model.CurrentUser != null)
            {
                <div class="alert alert-danger" role="alert">
                    @Model.Error
                </div>
            }
            else
            {
                <div class="card login-box">
                    <div class="card-body login-card-body">
                        <h4 class="login-box-msg">Log in</h4>
                        <form asp-area="WebPage" asp-asp-controller="Auth" asp-action="Login" method="post">
                            <div class="input-group mb-3">
                                <input asp-for="Username" type="text" class="form-control" placeholder="Username">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <i class="bi bi-person-circle"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" placeholder="Password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <i class="bi bi-lock-fill"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <input type="submit" class="btn btn-primary btn-block" value="Log in" />
                            </div>
                            @if (Model.Error != null)
                            {
                                <div class="mt-2">
                                    <div class="alert alert-danger" role="alert">
                                        @Model.Error
                                    </div>
                                </div>
                            }
                        </form>

                        <p class="mb-1 mt-1">
                            <a href="#">I forgot my password</a>
                        </p>
                        <p class="mb-0">
                            <a asp-area="WebPage" asp-controller="Auth" asp-action="Register" class="text-center">Create a
                                new account</a>
                        </p>
                    </div>

                </div>
            }

        </div>
    </div>

</div>