@using Chat.Areas.WebPage.Models;
@model RegisterViewModel;
@{
    ViewData["Title"] = "Register";
}

@section Header {
    @await Html.PartialAsync("_HeaderPartial.cshtml", new HeaderViewModel() { CurrentUser = Model.CurrentUser })
}

@section Scripts {
    <script>
        $("document").ready(function () {
            let fields = ["firstname", "lastname", "email", "username", "password"];
            fields.forEach((field) => {
                if ($("#register-" + field + "-input-feedback").text().trim() != "") {
                    $("#register-" + field + "-input").addClass("is-invalid");
                }
            })
        });
    </script>
}


<div class="content-wrapper register-page">
    <div class="content">
        <div class="container">
            <div class="card register-box">
                <div class="card-body register-card-body">
                    <h4 class="register-box-msg">Create a new account</h4>
                    <form method="post" asp-area="WebPage" asp-controller="Auth" asp-action="Register">
                        <div class="row">
                            <div class="form-group mb-3 col">
                                <input asp-for="FirstName" type="text" class="form-control" placeholder="First name"
                                    id="register-firstname-input">
                                <span asp-validation-for="FirstName" class="invalid-feedback"
                                    id="register-firstname-input-feedback"></span>
                            </div>
                            <div class="form-group mb-3 col">
                                <input asp-for="LastName" type="text" class="form-control" placeholder="Last name"
                                    id="register-lastname-input">
                                <span asp-validation-for="LastName" class="invalid-feedback"
                                    id="register-lastname-input-feedback"></span>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input asp-for="Username" type="text" class="form-control" placeholder="Username"
                                id="register-username-input">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <i class="bi bi-person-circle"></i>
                                </div>
                            </div>
                            <span asp-validation-for="Username" id="register-username-input-feedback"
                                class="invalid-feedback"></span>
                        </div>
                        <div class="input-group mb-3">
                            <input asp-for="Email" type="email" class="form-control" placeholder="Email"
                                id="register-email-input">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <i class="bi bi-envelope-fill"></i>
                                </div>
                            </div>
                            <span asp-validation-for="Email" id="register-email-input-feedback"
                                class="invalid-feedback"></span>
                        </div>
                        <div class="input-group mb-3">
                            <input asp-for="Password" type="password" class="form-control" placeholder="Password"
                                id="register-password-input">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <i class="bi bi-lock-fill"></i>
                                </div>
                            </div>
                            <span asp-validation-for="Password" id="register-password-input-feedback"
                                class="invalid-feedback"></span>
                        </div>

                        <div class="input-group">
                            <input type="submit" class="btn btn-primary btn-block" value="Register" />
                        </div>

                        @if (Model.Errors.Count > 0)
                        {
                            <div class="mt-2">
                                <div class="alert alert-danger" role="alert">
                                    @Model.Errors[0]
                                </div>
                            </div>
                        }
                    </form>
                    <!-- /.social-auth-links -->
                    <p class="mb-0 mt-1">
                        <a asp-area="WebPage" asp-controller="Auth" asp-action="Login" class="text-center">Log in
                            with account</a>
                    </p>
                </div>
                <!-- /.register-card-body -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>