@{
    Layout = "~/Areas/WebPage/Views/Shared/_ChatLayout.cshtml";
}

<div id="chat">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>