@{
    ViewData["Title"] = "Chat";
}

@section Scripts {
    <script src="_framework/blazor.webassembly.js"></script>
}

<main class="container py-5 pt-3 pb-3">
    <div id="chat">
        <div class="spinner-border loading-progress" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</main>
