@using Chat.Areas.WebPage.Models;
@model ChatViewModel;

@{
    ViewData["Title"] = "Chat";
}

@section Header {
    @await Html.PartialAsync("_HeaderPartial.cshtml", new HeaderViewModel() { LoggedInUser = Model.LoggedInUser })
}

@section Scripts {
    <script src="_framework/blazor.webassembly.js"></script>
}

<main class="container py-5 pt-3 pb-3">
    @if (Model.LoggedInUser != null)
    {
        <div id="chat">
            <div class="spinner-border loading-progress" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            You haven't logged in
        </div>
    }
</main>