@using Chat.Areas.WebPage.Models;
@model ChatViewModel;

@{
    ViewData["Title"] = "Chat";
}

@section Header {
    @await Html.PartialAsync("_HeaderPartial.cshtml", new HeaderViewModel() { LoggedInUser = Model.LoggedInUser })
}

@section Scripts {
    <script src="_framework/blazor.webassembly.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/emoji-mart@latest/dist/browser.js"></script>
    <script>
        const popoverTriggerList = document.querySelectorAll('#gg')
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))

        const pickerOptions = { onEmojiSelect: console.log }
        const picker = new EmojiMart.Picker(pickerOptions)

        window.AddEmojiPopover = (element) => {
            const popover = new bootstrap.Popover(element, {
                html: true,
                content: picker
            })
        }
    </script>
}

<main class="container py-5 pt-3 pb-3">
    @if (Model.LoggedInUser != null)
    {
        <div id="chat">
            <div class="spinner-border loading-progress" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            You haven't logged in
        </div>
    }
</main>