@{
    ViewData["Title"] = "Home";
}

<main>
    <a asp-area="WebPage" asp-controller="Auth" asp-action="Login">Login</a>
    <a asp-area="WebPage" asp-controller="Auth" asp-action="Register">Register</a>
</main>